# {{ ansible_managed }}

export http_proxy='{{ common_proxy_string }}'
export https_proxy='{{ common_proxy_string }}'
export no_proxy='localhost{% for proxy_exception in common_proxy_exceptions %}, {{ proxy_exception }}{% endfor %}'
export HTTP_PROXY='{{ common_proxy_string }}'
export HTTPS_PROXY='{{ common_proxy_string }}'
export NO_PROXY='localhost{% for proxy_exception in common_proxy_exceptions %}, {{ proxy_exception }}{% endfor %}'
